
/FrontMatter/Abstract.aux
/BackMatter/Anexos.aux
/MainMatter/Background.aux
/BackMatter/Bibliography.aux
/BackMatter/Conclutions.aux
/FrontMatter/Contents.aux
/FrontMatter/Dedication.aux
/MainMatter/Development.aux
/MainMatter/Experiments.aux
/MainMatter/Introduction.aux
/FrontMatter/SupervisorOpinion.aux
/tesis.aux
/uhthesis.cls
/Graphics/.DS_Store
/tesis.dvi
/tesis.synctex.gz
/tesis.log
/tesis.nlo
/tesis.out
/Graphics/class.pdf
/Graphics/clust.pdf
/Graphics/Clustering.pdf
/Graphics/desc.pdf
/Graphics/diagrama.pdf
/Graphics/monday.pdf
/Graphics/prep.pdf
/tesis.pdf
/Graphics/uhlogo.pdf
/Graphics/DiagramaSuilan.png
/Graphics/propuesta.png
/Graphics/qrcode.png
/Graphics/t1.PNG
/Graphics/t2.PNG
/Graphics/t3.PNG
/Graphics/t4.PNG
/Graphics/t5.PNG
/Graphics/t6.PNG
/Graphics/t7.PNG
/Graphics/tablaAprendizajes.png
/Graphics/uhlogo.svg
/FrontMatter/Acknowledgements.aux
/tesis.lof
/tesis.lot
/tesis.toc
/tesis.brf
/Graphics/computer_usage.PNG
/Graphics/genetic_algorithms.png
/Graphics/Australia.PNG
/MainMatter/StateOfArt.dvi
/MainMatter/StateOfArt.log
/Graphics/DFS.PNG
/MainMatter/Timetabling.dvi
/MainMatter/Timetabling.log
/BackMatter/Bibliography.log
